*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{

}
header{
    width: 1100px;
    margin: auto;

    height: 60px;
    background-color: #5191C1;
}

main{
    width: 1100px;
    margin: auto;

    height: 550px;
}

footer{
    width: 1100px;
    margin: auto;

    height: 120px;
    background-color: #e0e8ee;
}